extends layout

block content
  h2 Delete Category "#{category.name}"?
  ul
    li: a(href=`../edit_category/${category._id}`) No, Cancel and Go Back...
  form(action=category._id, method="post")
    button(type="submit") Yes, Delete Category "#{category.name}"
