extends layout

block content
  h2(class="back")
    a(href="javascript:history.back()"): img(class="menu", src="/icons/arrow_back-white-24dp.svg", title="No, Cancel and Go Back...")
    span Delete Transaction "#{transaction.name}"?
  form(action=transaction._id, method="post")
    button(type="submit") Yes, Delete Transaction "#{transaction.name}"
