extends layout

block content
  h2 Navigation
  ul
    li: a(href=`../edit_account/${account._id}`) Back to Edit Account...
  h2 Delete Account "#{account.name}"?
  form(action=account._id, method="post")
    button(type="submit") Yes, Delete Account "#{account.name}"
