extends layout

block content
  h2(class="with-back-button")
    a(href="javascript:history.back()"): img(class="menu", src="/icons/arrow_back-white-24dp.svg", title="No, Cancel and Go Back...")
    span Delete Person "#{person.name}"?
  form(action=person._id, method="post")
    button(type="submit") Yes, Delete Person "#{person.name}"
