extends layout

block content
  h2 Navigation
  ul
    li: a(href="../manage_categories") Back to Categories...
  h2 Edit Category
  form(action=category._id, method="post")
    label Name 
      input(type="text", name="name", autoFocus=true, value=category.name)
    label List Order
      input(type="number", name="order", value=category.order)
    button(type="submit") Submit
