extends layout

block content
  h2
    span Accounts
    a(href="new_account"): img(class="menu", src="/icons/add_circle-white-24dp.svg", title="New Account...")
  ul
    if account_list.length === 0
      li: a(href="new_account") Add an Account...
    for account in account_list.sort((a, b) => a.order - b.order)
      li: a(href=`edit_account/${account._id}`)
        h3= account.name
        h4= account.description
        - account_person_list = person_list.filter(person => account.person_id_list.some(id => person._id.equals(id)));
        h5
          =account_person_list.length > 0 ? " (" : ""
          =account_person_list.map(person => person.name).join(", ")
          =account_person_list.length > 0 ? ")" : ""
