extends layout

block content
  h2 Categories
  ul
    li: a(href="new_category") New Category...
    for category in category_list.sort((a, b) => a.order - b.order)
      li: a(href=`edit_category/${category._id}`)= category.name
