extends layout

block content
  h2 Navigation
  ul
    li: a(href="../") Back to Home...
    li: a(href="new_user") New User...
  h2 Users
  table
    thead
      tr
        th Name
    tbody
      for user in user_list.sort((a, b) => a.order - b.order)
        tr
          td: a(href=`edit_user/${user._id}`)= user.name
