extends layout

block content
  h2 Navigation
  ul
    li: a(href="../") Back to Home...
    li: a(href="new_account") New Account...
  h2 Manage Accounts
  ul
    for account in account_list
      li: a(href=`edit_account/${account._id}`)= account.name
