extends layout

block content
  h2 Navigation
  ul
    li: a(href="../manage_users") Back to Users...
  h2 New User
  form(action="new_user", method="post")
    label Name 
      input(type="text", name="name", autofocus=true)
    label List Order
      input(type="number", name="order")
    button(type="submit") Submit
