extends layout

block content
  h2 Navigation
  ul
    li: a(href="../manage_accounts") Back to Accounts...
  h2 New Account
  form(action="new_account", method="post")
    label Name 
      input(type="text", name="name", autofocus=true)
    label Description 
      input(type="text", name="description")
    fieldset
      legend Users
      for user in user_list
        label
          input(type="checkbox", name=`user_${user._id}`)
          =user.name
    label List Order
      input(type="number", name="order")
    button(type="submit") Submit
