body {
  background-color: #333333;
  color: #ffffff;
  font: 15px sans-serif;
  padding: 30px;
}

a {
  color: #ccffff;
  text-decoration: none;
}

a:hover {
  color: #ccccff;
  text-decoration: underline;
}

li {
  margin: 5px 0 5px 0;
}

input,
select {
  font: 15px sans-serif;
}

form > label {
  margin: 15px 0 15px 0;
}

form fieldset label {
  display: block;
  margin: 5px 0 5px 0;
}

form input[type="text"],
form input[type="number"],
form input[type="datetime-local"],
select,
form fieldset {
  display: block;
  margin: 5px 0 15px 0;
}

form input[type="checkbox"] {
  margin: 0 5px 0 0;
}

form button[type="submit"] {
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 15px 0 15px 0;
  padding: 5px 15px 5px 15px;
}

th,
td {
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px;
  text-align: left;
}

table {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
